.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 0px;
    gap: 16px;
    position: relative;
    padding-bottom: 0px;
    /* overflow: hidden;
    min-height: auto; */
    /* z-index: -1; */
}

.key_title {
    padding: 0px 24px;
    font-size: 24px;
    font-weight: 600;
    color: #20212B;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.loop_img {
    width: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    pointer-events: none;

    /* opacity: 0.1; */
}

.key_main_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    /* gap: 12px; */
    height: 420px;
    z-index: 2;
    box-sizing: border-box;
    /* padding: 0px 24px; */
    transform: scale(0.9);
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}

.key_col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 12px; */
    flex: 1;
    align-self: stretch;
}

.key_item {
    /* background-color: #CFBEE680; */
    align-self: stretch;
    flex: 1;
    /* border-radius: 34px; */
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /* max-height: 120px; */
    min-height: 120px;
    min-width: 120px;


}

.key_space {
    height: 34px;
}

.key_label {
    text-align: center;
    color: #FFF;
    font-family: 'Outfit', 'Poppins';
    line-height: 130%;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    z-index: 2;
}

.shadow {
    position: absolute;
    background-image: linear-gradient(to top, #414251, transparent);
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
}

.image_cont {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.drawer_title,
.drawer_value {
    font-size: 22px;
    font-weight: 600;
    color: #20212B;
    font-family: 'Outfit', 'Poppins';
    line-height: 140%;
}

.drawer_value {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.key_button {
    height: 24px;
    max-width: 24px;
    font-size: 12px;
    margin-top: 12px;
    background-color: #FFFFFF80;
    backdrop-filter: blur(10px);
    color: #000;
}

.loop_drawer {
    position: absolute;
    width: 120%;
    bottom: -5%;
    right: -10%;
    transform: rotate(-8deg);
    opacity: 0.8;
}

.key_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    width: 100%;
    padding: 0px 24px;
    z-index: 2;
    /* espacio entre columnas */

}

.grid_card {
    background-image: linear-gradient(to right, #F5F3F260, #CFBEE640);
    backdrop-filter: blur(10px);
    flex: 1;
    border-radius: 12px;
    /* height: 80px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #20212B;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    font-size: 18px;
    gap: 6px;
    min-height: 110px;
    border: 1px solid #ebebeb;
    position: relative;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); */
}

.single_row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.animated {

    position: absolute;
    top: -5%;
    right: -15%;
    width: 100%;
    z-index: 999;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: rotate(64deg);

}

.seo_content {
    position: absolute;
    left: -9999px;
}