.confirm_container {
    padding: 12px 0px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.confirm_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.icon_cont {
    height: 64px;
    width: 64px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm_label,
.confirm_label_tip {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    
}
.confirm_label_tip {
    font-size: 12px;
    font-style: italic;
    opacity: 0.8;
    /* text-align: left; */
    width: 100%;
    margin-top: -6px;
}

.confirm_tickets_row {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 24px;
    margin: 12px 0px;
}

.simulate_input {
    /* flex: 1; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_less_btn {
    height: 28px;
    min-height: 28px;
    min-width: 28px;
    max-width: 28px;
}

.inputs_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    margin-top: 12px;
    align-self: stretch;
    padding: 0px 24px;
}

.confirm_input {
    width: 100%;
    border: 1px solid;
    min-height: 34px;
    background-color: #FFFFFF40;
    font-size: 16px;
}

.confirm_input::placeholder {
    font-style: italic;
    font-size: 13px;
}

.buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
    gap: 12px;
    margin-top: 24px;
}

.companion_cards_cont {
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.guest_card {
    width: 100%;
    /* height: 100px; */
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.guest_card_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.state-confirmado {
    background-color: #EFEAFF;
    color: #6D3CFA;
    border-color: #6D3CFA99;
}

.state-esperando, .state-creado {
    background-color: #FFF;
    border-color: #FFF;
}

.state-rechazado {
    background-color: #F1F1F1;
    color: #787878;
    border-color: #78787899;
}

.confirm_tag {
    border: 1px solid;
    position: absolute;
    font-size: 12px;
    /* transform:scale(0.6); */
    letter-spacing: 1px;
    text-transform: uppercase;
    
    right: 6px;
    bottom: 4px;
    padding: 2px 16px;
    border-radius: 99px;
}