.module_cover_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
}

.cover_container,
.cover_container_dev {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* margin-bottom: 50px; */
    width: 100%;
    max-width: 1480px;
}

.cover_container img,
.cover_container_dev img {
    height: 100%;
    object-fit: cover;
}

.cover-image-container-- {
    height: 100%;
    width: 100%;
    position: relative;
}

.cover_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blur_cover {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    mask: linear-gradient(transparent, transparent, transparent, transparent, black, black);
    backdrop-filter: blur(6px);
}

.background_cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    box-sizing: border-box;
    opacity: 0.8;
}

.cover_title_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}


@media (min-width: 900px) {
    .cover_container {
        border-radius: 0px 0px 18px 18px;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    }
}