.wallet {
    position: relative;        /* <- IMPORTANTE: referencia para los hijos absolute */
    display: block;
    max-width: 100%;
    /* max-width: 450px; */
    min-height: 322px;             /* más alto para que no se corte */
    border-radius: 24px;
    margin: 0 auto;            /* centrado horizontal en layouts normales */
    overflow: visible;  
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25), 0 0 12px 0 rgba(0, 0, 0, 0.15) inset; 
    transform: scale(0.8);     /* deja que “salte” hacia arriba */
  }
  
  .logo {
    position: absolute;
    z-index: 200;
    bottom: 40px;
    left: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
  }
  
  /* ----- Departments ----- */
  .department {
    position: absolute;
    display: block;
    width: 95%;
    background: #6A8897;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 1px dashed rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 16px 16px;
  }
  
  .one { bottom: 4;    height: 170px; z-index: 100; }
  .two { bottom: 50px; height: 170px; z-index: 50;  }
  .three { bottom: 100px; height: 170px; z-index: 0; }
  
  /* ----- Cards ----- */
  .card {
    position: absolute;
    display: block;
    width: 80%;
    height: 210px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 90;
    border-radius: 12px;
    transition: bottom 0.3s ease; /* animación suave */
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15), 0 0 6px 0 rgba(0, 0, 0, 0.15) inset; 
    /* border: 1px solid; */
    
  }
  
  .brand {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    backdrop-filter: blur(2px);
  }
  
  .chip {
    position: absolute;
    width: 50px;
    height: 40px;
    background: #d9c798;
    border-radius: 5px;
    top: 35px;
    left: 50px;
  }
  
  .card h1 {
    display: inline-block;
    font-weight: 300;
    font-size: 26px;
    color: #fff;
    width: 100%;
    margin: 85px 0 0 50px;
  }
  
  .card h2 {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    width: 30%;
    margin: 0 0 0 50px;
  }
  
  .card p {
    display: inline-block;
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    width: 30%;
    margin: 15px 0 0 50px;
  }
  
  /* Colores / orden */
  .card1 { background: #7533ff; z-index: 90; }
  .card2 { background: #ff473b; z-index: 40; }
  .card3 { background: #5bb6ff; z-index: 0; }
  
  @media (max-width: 750px) {
    .wallet {
      width: 92vw;
      height: 320px;
    }
  }