.footer_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 36px 0px;
    gap: 18px;
    background-image: linear-gradient(to top, #CFBEE680 0%, #CFBEE6 100%);
}

.footer_main_col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    gap: 18px;
    padding: 0px 24px;
}

.footer_logo {
    max-width: 130px;
}

.footer_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: stretch;
}

.footer_col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    font-family: 'Geom', 'Outfit', 'Poppins';
    color: #FFF;
    font-weight: 400;
    line-height: 110%;
    margin-top: -12px;
    flex: 1;
}

.links_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    gap: 12px;
    width: 100%;
    /* padding: 0px 24px; */

}

.footer_link {
    font-family: 'Geom', 'Outfit', 'Poppins';
    color: #FFF !important;
    font-weight: 400;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.link_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding: 0px 24px;
    font-family: 'Geom', 'Outfit', 'Poppins';
    color: #FFF;
    font-weight: 400;
}

.link_cont a {
    font-family: 'Geom', 'Outfit', 'Poppins';
    color: #FFF;
    font-weight: 400;
}