.footer_cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 0px;
    padding-top: 64px;
    gap: 18px;
    /* min-height: 500px; */
    background-image: linear-gradient(to top, #CFBEE680 0%, #CFBEE6 100%);
    /* border-top: 2px solid #FFF; */
    /* z-index: -1; */
}

.footer_logo {
    max-width: 140px;
}

.footer_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    align-self: stretch;
}

.footer_col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    font-family: 'outfit', 'Poppins';
    color: #FFF;
    font-weight: 400;
    line-height: 110%;
    margin-top: -12px;
}

.links_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    gap: 6px;
    width: 100%;
    padding: 0px 24px;

}

.footer_link {
    font-family: 'outfit', 'Poppins';
    color: #FFF !important;
    font-weight: 400;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}