.video_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    min-height: 693px;
    width: 100%;
    /* border: 1px solid #FAFAFA; */
    margin-top: 36px;
    /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25); */
    transform: scale(0.9);
    border-radius: 12px;
    overflow: hidden;
    margin: -44px 0px;
    margin-top: 0px;
}

.shadow {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #20212B99 0%, transparent, #20212B99);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px;
    padding-bottom: 36px;
    font-family: 'Outfit', 'Poppins';
    color: #FFF;
}

.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 24px;
    gap: 32px;
    padding-bottom: 0px;
    /* z-index: -1; */
}

.key_title {
    font-size: 44px;
    font-weight: 800;
    color: #FFF;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.cta_text {
    /* padding: 0px 24px; */
    font-weight: 400;
    color: #FFFFFF99;
    font-family: 'Outfit', 'Poppins';
    line-height: 150%;
    font-size: 18px;
}



.main_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (min-width: 768px) {

    .video_cont {
        max-width: 1320px;
        display: flex;
        width: 100%;
        height: 1200px;
        transform: scale(1);
        margin: 0px 0px;
        /* z-index: -1; */
    }

    .video_cont video {
        top: -40%;
    }

    .shadow {
        padding: 44px;
    }

    .key_title {
        font-size: 64px;
        font-weight: 800;
        color: #FFF;
        font-family: 'Outfit', 'Poppins';
        line-height: 110%;
        z-index: 2;
    }
    
    .cta_text {
        /* padding: 0px 24px; */
        font-weight: 400;
        color: #FFFFFF99;
        font-family: 'Outfit', 'Poppins';
        line-height: 150%;
        font-size: 36px;
    }
      
}