.invitation_main_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 36px;
    padding-bottom: 36px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: auto;
    overflow: auto;
}