.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 0px;
    gap: 18px;
    padding-bottom: 0px;
    /* z-index: -1; */
}

.key_title {
    padding: 0px 24px;
    font-size: 24px;
    font-weight: 600;
    color: #20212B;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.ideal_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    padding: 0px 24px;
    align-self: stretch;
}

.button_cont,
.question_head {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.question_head {
    justify-content: space-between;
    gap: 12px;
}

.ideal_card {
    /* height: 40px; */
    align-self: stretch;
    border-radius: 8px;
    background-image: linear-gradient(to right, #F5F3F260, #CFBEE640);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    padding: 12px 16px;
    color: #20212B;
    font-family: 'Outfit', 'Poppins';
    line-height: 120%;
    min-height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: all 0.3s ease;
    gap: 16px;
    

}