.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 850px;
    border-radius: 16px;
}

.gm_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    z-index: 3;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.g_module_info_container {
    width: 100%;
    max-width: 1450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 32px; */
    gap: 24px;
    text-align: center;
    line-height: 1.7;
    
}

.g_module_title,
.g_module_title_dev {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
}


.g_mdoule_regular_text,
.g_mdoule_regular_text_dev {
    font-size: 16px;
    font-weight: 500;
}

.g_module_items_single_col {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px
}

.g_mdoule_light_text {
    font-size: 14px;
    font-weight: 400;
}

.texture_img {
    width: 130%;
    height: auto;
    mix-blend-mode: multiply;
    /* mix-blend-mode: luminosity; */
    /* filter: grayscale(1) contrast(1.2) brightness(2); */
    filter: grayscale(1);
}

.texture_img:nth-child(odd) {
    transform: scaleY(-1);
}

.textures_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    mix-blend-mode: multiply;
}

.image_texture_container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    /* overflow: hidden; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0
}

.background_image_quote_container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1250px;
}

.fan_container,
.fan_container_active {
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 22px;
    overflow: auto;

}


/* .fan_container:hover {
    transform: scale(1.05);
} */

.fan-container:hover .fan-card:last-child {
    /* opcional: levanta la carta “más al centro” si quieres interacción */
    transform: translate(-50%, -50%) rotate(0deg) scale(1.02);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.35);
}



@media (min-width: 768px) {
    .qt_image_cnt {
        max-width: 950px !important;
        height: 650px !important;
        border-radius: 12px !important;
        overflow: hidden;
    }

    .textures_background,
    .background_image_quote_container {
        border-radius: 16px;
        
    }

    /* .background_image_quote_container {
        border: 1px solid red;
        width: 100%;
    } */


    .gm_container {
        /* max-width: 550px; */
        /* border: 1px solid; */
    }



}