.seo_first_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    padding-top: 24px;
}

.seo_second_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
    max-height: 100%;
    overflow: auto;
}

.seo_container {
    color: #20212B;
    font-family:  'Outfit', 'Poppins';
    line-height: 180%;
    box-sizing: border-box;
    padding: 24px;
    gap: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    max-width: 800px;
    background-color: #F5F3F280;
    border-radius: 12px;
}

.seo_container h1 {
    line-height: 1.2;
    font-size: 44px;
    font-weight: 800;
}

.seo_container h2 {
    line-height: 1.2;
    font-size: 32px;
    font-weight: 800;
}

.seo_container h3 {
    line-height: 1.2;
    font-size: 28px;
    font-weight: 600;
}

.seo_container p {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
}

.seo_container a {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 600;
    color: #6E3DFA;
    /* text-decoration: underline; */
}



.action_button a {
    color: #FFF;
    text-decoration: none;
}

.action_wrap {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

.action_wrap::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 8px;
    height: 100%;
    background-color: #4923B5;
    border-radius: 12px;
    z-index: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    pointer-events: none; 
    
}

.action_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    position: relative;
    z-index: 1;
    background-color: #6E3DFA;
    color: #FFF;
    padding: 12px 16px;
    height: 44px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.action_button:hover {
    background-color: #7c4ff7 !important;
    color: #FFF !important;
}

.action_wrap:hover {
    transform: translateY(-5px);
}
