.hero_cont {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #CFBEE6;
    opacity: 0.8;
    padding: 24px;
    z-index: 3;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero_first_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.hero_logo {
    max-width: 100px;
}

.hero_menu {
    background-color: #FFFFFF40;
    backdrop-filter: blur(10px);
    color: #FFF;
    border: none !important;
}

.hero_info_box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    font-family: 'Outfit', 'Poppins';
    color: #FFF;
}

.hero_h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
}

.hero_h2 {
    font-size: 24px;
    font-weight: 200;
    line-height: 100%;
}

.hero_cta {
    font-size: 16px;
    border-radius: 12px;
    font-weight: 600;
    height: 42px;
    color: #000 !important;
    margin-top: 12px;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #20212B, transparent);
    left: 0;
    top: 0;
    z-index: -1;
}

.animated {

    position: absolute;
    top: -5%;
    right: -10%;
    width: 135%;
    z-index: 99;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: rotate(44deg);

}