.hero_cont {
    width: 100%;
    height: 100vmax;
    min-height: 100vmax;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #CFBEE6;
    opacity: 1;
    padding: 24px;
    z-index: 3;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

.hero_first_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.hero_logo {
    max-width: 100px;
}

.hero_menu {
    background-color: #FFFFFF40;
    backdrop-filter: blur(10px);
    color: #FFF;
    border: none !important;
}

.hero_info_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    font-family: 'Outfit', 'Poppins';
    color: #FFF;
    padding-bottom: 24px;

}

.hero_h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 100%;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    /* letter-spacing: 2px; */
}

.hero_h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    /* letter-spacing: 2px;

    text-transform: uppercase; */
}

.hero_cta {
    font-size: 16px;
    border-radius: 12px;
    font-weight: 600;
    height: 42px;
    color: #000 !important;
    margin-top: 12px;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #20212B80, #FFFFFF);
    left: 0;
    top: 0;
    z-index: -1;
    mix-blend-mode: soft-light;
}

.animated {

    position: absolute;
    bottom: -6%;
    right: -22%;
    width: 155%;
    z-index: 99;
    pointer-events: none;
    transition: all 0.3s ease;
    /* transform: rotate(44deg); */

}

.action_wrap {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;

    margin: 12px 0px;
}

.action_wrap::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 8px;
    height: 100%;
    background-color: #CCC;
    border-radius: 12px;
    z-index: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    pointer-events: none;

}

.action_button {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    color: #000;
    padding: 12px 16px;
    height: 44px;
    border-radius: 12px;
    font-weight: 800;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.action_button:hover {
    background-color: #F5F3F2 !important;
    color: #000 !important;
}

.action_wrap:hover {
    transform: translateY(-5px);
}

@media (min-width: 768px) {
    .hero_cont {
        width: 100%;
        height: 60vh;
        min-height: 60vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        background-color: #CFBEE6;
        opacity: 1;
        padding: 24px;
        z-index: 3;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0px 6px  8px rgba(0, 0, 0, 0.15);

    }

    .hero_info_box {
        flex-direction: column-reverse;
    }

    .animated {

        position: absolute;
        top: -25%;
        right: -5%;
        width: 70%;
        z-index: 99;
        pointer-events: none;
        transition: all 0.3s ease;
        transform: rotate(24deg);
        opacity: 0.7;
    
    }

    .hero_h1 {
        font-size: 64px;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: 2px;
    }
    
    .hero_h2 {
        font-size: 36px;
        font-weight: 200;
        line-height: 120%;
        /* letter-spacing: 2px;
    
        text-transform: uppercase; */
    }

    .hero_logo {
        max-width: 140px;
    }

    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, #20212B80, #FFFFFF);
        left: 0;
        top: 0;
        z-index: -1;
        mix-blend-mode:multiply;
    }
}