.main_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding-top: 24px;
    position: relative;
    /* padding: 36px 0px; */
    gap: 64px;
    padding-bottom: 0px;
    width: 100%;
    /* z-index: -1; */
}

.key_title {
    font-size: 24px;
    font-weight: 600;
    color: #20212B;
    font-family: 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0px 24px;
    gap: 18px;
}



.col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.button_container {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_container {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex-direction: column; */
    gap: 0px;
    position: relative;
}

.features_grid {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 24px; */
    box-sizing: border-box;
    /* padding: 6px 24px; */
    /* max-width: 100%; */
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    max-height: 100%;
    padding: 0;
    position: absolute;
    max-width: 60%;
    right: 12px;
    top: 0;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    flex: 1;
    padding: 12px;
    box-sizing: border-box; */
    /* espacio entre elementos */
}


.feature_card,
.selected_card {
    width: 100%;
    height: auto;
    /* min-height: 80px; */
    box-sizing: border-box;
    padding: 12px;
    border-radius: 16px;
    font-family: 'Poppins';
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    background-image: linear-gradient(to right, #FFFFFF80, #FFFFFF40);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* min-width: 330px; */
    color: #00000080;
    transform: scale(0.9);
}

.feature_title {
    font-size: 14px;
    color: #000;
}

/* .selected_card {
    background-color: var(--brand-color-500-40);
    outline: 1px solid var(--brand-color-500);
} */

.feature_row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    align-self: stretch;

}

.inv_device_main_container_ios {
    /* overflow: hidden; */
    padding: 5px;
    border-radius: 62px;
    background-color: #2C2C2C;
    border: 2px solid #7F7E7E;
    position: relative;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    /* margin-left: -40px; */
}

/* .central_card_cover {
    transform: scale(0.65);
    margin: 0px -50px;
} */

.regular_card_cover {
    transform: scale(0.6);
    margin: -150px -50px;
}

.device_buttons_container_ios {
    position: absolute;
    top: 120px;
    /* left: -7px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}

.device_button_ios,
.device_power_button_ios {
    width: 6px;
    height: 60px;
    border-radius: 2px 0px 0px 2px;
    background-color: #2C2C2C;
    position: relative;
}

.device_button_ios::after,
.device_power_button_ios::after {
    content: "";
    height: 2px;
    width: 4px;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #595858;
}

.device_power_button_ios {
    position: absolute;
    right: -7px;
    top: 180px;
    border-radius: 0px 2px 2px 0px;
    height: 100px;
}

.device_button_ios:first-of-type {
    margin-bottom: 10px;
    height: 30px;
}

.inv_device_container_ios {
    background-color: black;
    padding: 8px;
    overflow: hidden;
    border-radius: 55px;
    position: relative;
}

.inv_black_space_ios,
.inv_light_space_ios {
    height: 50px;
    width: 100%;
    background-color: black;
}

.inv_light_space_ios {
    background-color: #F3EFEB;
    height: 45px;
    position: relative;
    /* height: 40px; */
    border-radius: 0px 0px 47px 47px;
    box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.1);
}


.inv_light_space_ios::before {
    content: "iattend.mx";
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-family);
    font-size: 12px;
    color: var(--text-color);
}

.inv_light_space_ios::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 5px;
    border-radius: 8px;
    z-index: 10;
    background: linear-gradient(180deg, #4B4A4A 0%, #6C6B6A 100%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}


.inv_black_space_ios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 30px;
    box-sizing: border-box;
}

.inv_black_space_ios span {
    color: var(--ft-color);
    font-weight: 500;
    font-size: 16px;
}

.inv_black_space_ios div {
    height: 12px;
}

.ios_invitation {
    height: 679px;
    width: 347px;
    background-color: var(--text-color);
    overflow: hidden;
    overflow-y: scroll;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    position: relative;
    cursor: default;

}

.ios_invitation {
    height: 668px;
    width: 357px;
    border-radius: 0px;
}

.cards_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    max-width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0px 24px;
}


.big_card,
.big_card_cover,
.big_card_map,
.big_card_fam {
    width: 80%;
    min-width: 300px;
    height: 420px;
    background-color: #FFF;
    border-radius: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    position: relative;
    overflow: hidden;
}

.big_card_map {
    align-items: flex-end;
}

.key_sub,
.key_sub_link,
.key_sub_w,
.key_sub_it {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    width: 100%;
    /* background: linear-gradient(to right, #21222B, var(--brand-color-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.key_sub_link {
    font-size: 16px;
    text-decoration: underline;
    width: auto;
}

.key_sub_link,
.key_sub b,
.key_sub_w b,
.key_sub_it b {
    background: linear-gradient(to left, var(--brand-color-300), #674abe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.key_sub_w b {
    background: linear-gradient(to left, var(--brand-color-300), #a795dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.image_cont,
.image_cont_cover,
.image_cont_fam,
.image_cont_it {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.image_cont_cover,
.image_cont_fam,
.image_cont_it {
    position: absolute;
    bottom: -10px;
    width: 160%;
    left: 50%;
    transform: translate(-50%);
}

.image_cont_fam {
    width: 200%;
    bottom: 0;
}

.image_cont_it {
    width: 130%;
    bottom: 0;
}

.image_cont img,
.image_cont_cover img,
.image_cont_fam img,
.image_cont_it img {
    width: 70%;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #20212B80, transparent);
    left: 0;
    top: 0;
    z-index: 1;
    mix-blend-mode: multiply;  
}

.shadow_inverse {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #20212B80, transparent);
    left: 0;
    top: 0;
    z-index: 1;
    mix-blend-mode: multiply;  
}

.button_frame {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding-right: 44px;
    display: none;
    margin-left: -24px;
}

.scroll_button {
    /* position: absolute;
    z-index: 3;
    top: 50%;
    transform: translate(-50%); */
    border-radius: 90px;
    height: 50px;
    min-width: 50px;
    background-color: #FFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2) !important;
}






@media (min-width: 600px) {
    .regular_card_cover {
        transform: scale(0.55);
        margin: -180px -0px;
    }
}


@media (min-width: 768px) {

    .button_frame {
        display: flex;
    }

    .row {
        max-width: 1320px;
    }

    .key_cont {
        /* max-width: 1320px; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* padding: 0px 64px; */
        /* z-index: -1; */
    }

    .flow_container {
        align-items: center;


    }

    .flow_card {
        flex: 1;
    }

    .key_title {
        font-size: 36px;

    }

    .cards_cont {
        padding: 0px 92px;
        gap: 24px;
    }


    .big_card,
    .big_card_map,
    .big_card_cover,
    .big_card_fam {
        width: 100%;
        min-width: 850px;
        height: 650px;

        gap: 16px;
        padding: 36px;
        position: relative;
    }

    .big_card_cover {
        align-items: center;
    }

    .big_card_cover .key_sub {
        max-width: 50%;
    }

    .big_card_cover .key_sub_it {
        max-width: 40%;
    }

    .image_cont_cover {
        width: 100%;
        left: 75%;
    }

    .image_cont_it {
        width: 85%;
        left: 70%;
        bottom: 0;
    }

    .image_cont_fam {
        z-index: 0;
        left: 50%;
        transform: translate(-50%);
        bottom: -30%
    }

    .image_cont img {
        max-width: 40%;
        
    }

    .key_sub_link {
        font-size: 22px;
        text-decoration: underline;
        width: auto;
    }
    
    .key_sub,
    .key_sub_w,
    .key_sub_it {
        font-size: 28px;
        padding: 0;
        line-height: 1.2;
        max-width: 85%;
        z-index: 2;
    }

    .regular_card_cover {
        transform: scale(0.65);
        margin: -140px -0px;
        margin-right: -160px;
    }

    .features_grid {

        /* gap: 24px; */
        overflow-x: auto;
        overflow-y: auto;
        flex: 1;
        position: absolute;
        max-width: 100%;
        right: 0px;
        top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        flex: 1;
        padding: 12px;
        box-sizing: border-box;
        max-height: 500px;
        position: static;


    }

    .feature_card,
    .selected_card {
        width: 100%;
        /* height: auto; */
        min-height: 140px;
        box-sizing: border-box;
        padding: 12px;
        border-radius: 16px;
        font-family: 'Poppins';
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 6px;
        font-size: 14px;
        background-image: linear-gradient(to right, #FFFFFF80, #FFFFFF40);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        /* min-width: 330px; */
        color: #00000080;
        transform: scale(1);
    }


}


@media (min-width: 1000px) {

    .features_grid {

        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        flex: 1;
        padding: 12px;
        box-sizing: border-box;
        max-height: none;
        position: static;
        overflow: hidden;


    }

    .regular_card_cover {
        transform: scale(0.75);
        margin: -80px -0px;
        margin-right: -100px;
    }

    .feature_card,
    .selected_card {
        width: 100%;
        /* height: auto; */
        min-height: 140px;
        box-sizing: border-box;
        padding: 12px;
        border-radius: 16px;
        font-family: 'Poppins';
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 6px;
        font-size: 14px;
        background-image: linear-gradient(to right, #FFFFFF80, #FFFFFF40);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        /* min-width: 330px; */
        color: #00000080;
        transform: scale(1);
    }


}