.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 0px;
    gap: 32px;
    padding-bottom: 0px;
    /* z-index: -1; */
}

.key_title {
    padding: 0px 24px;
    font-size: 32px;
    font-weight: 800;
    color: #20212B;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.plans_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    box-sizing: border-box;
    padding: 0px 24px;
    gap: 12px;
    position: relative;
    transform: scale(0.9);

}

.plan_card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #CFBEE620;
    height: 550px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Outfit", "Poppins";
    /* border: 1px solid #ebebeb; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card_relative_cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 4px solid var(--brand-color-500);
    position: relative;
}

.tag,
.price_tag {
    background-color: var(--brand-color-500);
    padding: 4px 12px;
    border-radius: 99px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.tag {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 140px;
    transform: translate(-50%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.price_tag {
    /* top: 30%;
    right: 0%; */
    width: auto;
    /* right: 0px; */
    top: 35%;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 12px;
    background-color: #716886;
}

.plan_image {
    max-width: 100%;
    border-radius: 12px;
}

.plan_info_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 12px;
    gap: 0px;
    padding: 0px 24px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    font-weight: 500;
    /* opacity: 0.6; */
}

.plan_item {
    width: 100%;
    /* border-bottom: 1px solid #F6F5F540; */
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.plan_item:first-of-type {
    /* border-top: 1px solid #F6F5F5; */
}

.price_cont {
    width: 100%;
    /* height: 100px; */
    /* flex: 1; */
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 900;
    /* padding-bottom: 24px; */
    color: #9F95AF;
    padding: 8px 0px;
    /* padding-top: 1px; */
    flex-direction: column;
    gap: 12px;
}

.main_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.single_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

@media (min-width: 768px) {

    .key_cont {
        max-width: 1320px;
        display: flex;
        width: 100%;
        background-color: #F5F3F2;
        /* z-index: -1; */
    }

    .key_title {
        font-size: 38px;

    }

    .plans_cont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        box-sizing: border-box;
        padding: 0px 24px;
        gap: 36px;
        position: relative;
        transform: scale(1);
        margin: 36px 0px;

    }

    .plan_card {
        min-width: 300px !important;
        max-width: 300px !important;
        position: static !important;
        transform: rotate(0deg) !important;
        height: 600px;
    }

    .plan_info_cont {
        font-size: 14px !important;
    }



}