.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 0px;
    gap: 18px;
    /* z-index: -1; */
}

.key_title {
    padding: 0px 24px;
    font-size: 24px;
    font-weight: 600;
    color: #20212b;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.ideal_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    padding: 0px 24px;
    align-self: stretch;
}

.ideal_card {
    height: 80px;
    align-self: stretch;
    border-radius: 24px;
    background-color: #CFBEE680;
    transition: all 0.3s ease;
}

