.invitation_main_cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 44px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  padding-bottom: 44px;
}


.invitation_locked_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  position: relative;
}

.inv_locked_image,
.inv_locked_blured {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inv_locked_blured {
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  padding: 44px;
  flex-direction: column;
  z-index: 99;
  gap: 24px;
  transition: all 0.5s ease;
}

.locked_icon {
  height: 84px;
  width: 84px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF80;
  backdrop-filter: blur(10px);
  border-radius: 99px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.locked_title {
  font-size: 24px;
  font-weight: 800;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  color: #FFF;
  /* text-transform: uppercase; */
  text-align: center;
}

.locked_text {
  font-size: 16px;
  max-width: 350px;
  color: #FFF;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.locked_input::placeholder {
  color: #FFFFFF80;
  font-style: italic;
}


/* .locked_btn {
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%)
} */

.locked_btn {
  cursor: pointer !important;
  position: relative;
  overflow: hidden;
  background: #FFF !important;
  color: #00000080 !important; /* usa el color dinámico si existe */
  border: 2px solid #FFF!important;
  transition: color 0.3s ease, border-color 0.3s ease !important;
}

.locked_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--hover-color, #a0d97b); /* usa el color dinámico */
  z-index: 0;
  transition: left 0.3s ease;
}

.locked_btn:hover::before {
  left: 0;
}

.locked_btn span {
  position: relative;
  z-index: 1;
}

.locked_btn:hover {
  color: #fff !important;
  border-color: var(--hover-color, #a0d97b) !important;
}

.translate_cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 12px;
  align-self: stretch;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.translate_cont:hover {
  opacity: 1;
}