.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 0px;
    gap: 24px;
    /* z-index: -1; */
}

.key_title {
    padding: 0px 24px;
    font-size: 24px;
    font-weight: 600;
    color: #20212B;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.flow_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding: 8px 24px;
}

.flow_card {
    position: relative;
    overflow: hidden;
    min-width: 220px;
    height: 320px;
    border-radius: 24px;
    background-color: #CFBEE680;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
}

.lines {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}



.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #20212B80 40%, rgba(255, 255, 255, 0));
    left: 0;
    top: 0;
    /* z-index: -1; */
}

.flow_title,
.flow_sub {
    color: #FFF;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    font-size: 22px;
    font-weight: 600;
    z-index: 2;
}

.flow_sub {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    color: #FFFFFF99;
}