.key_cont {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    padding: 36px 0px;
    gap: 18px;
    /* z-index: -1; */
}

.key_title {
    padding: 0px 24px;
    font-size: 24px;
    font-weight: 600;
    color: #20212b;
    font-family: 'Outfit', 'Poppins';
    line-height: 110%;
    z-index: 2;
}

.flow_container {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 12px;
   width: 100%;
   max-width: 100%;
   overflow-x: auto;
   padding: 0px 24px;
}

.flow_card {
    position: relative;
    overflow: hidden;
    min-width: 220px;
    height: 320px;
    border-radius: 24px;
    background-color: #CFBEE680;
}

.lines {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

