.action_wrap,
.action_primary {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;

    margin: 12px 0px;
}

.action_wrap::before,
.action_primary::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 8px;
    height: 100%;
    background-color: #CCC;
    border-radius: 12px;
    z-index: 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    pointer-events: none;

}

.action_primary::before {
    background-color: #582ecc;
}

.action_button,
.primary_button {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    color: #000;
    padding: 12px 16px;
    height: 44px;
    border-radius: 12px;
    font-weight: 500;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.primary_button {
    background-color: #6E3DFA;
    color: #FFF;
}

.action_button:hover {
    background-color: #F5F3F2 !important;
    color: #000 !important;
}

.primary_button:hover {
    background-color: #5e3cbb !important;
    color: #FFF !important;
}

.action_wrap:hover,
.action_primary  {
    transform: translateY(-5px);
}